@media (max-width:1030px){

    /* TOP HEADER */
    .navbar.top ul li a{
        font-size: 0.7rem;
    }
    .main-btn{
        position: relative;
        z-index: 2;
        padding: 0.525rem 1rem;
        background: var(--primary-color);
        font-weight: 500;
        font-size: 0.875rem;
    }

    /* TOP BANNER */
    .top-wrapper .left-wrapper{
        padding-top: 6rem !important;
    }
    .top-wrapper .left-wrapper h1{
        width: 100% !important;
    }


    /* ABOUT SECTION */
    .about .about-img::before{
        height: 22.8125rem;
    }
    .about .right-wrapper{
        padding-left: 1rem;
    }
    h2{
        font-size: 2.9rem;
    }


    /* OUR APPROACH */


}

@media (max-width:991px){

    /* navigation */
    .navigation-wrap .navbar-toggler{
        margin-right: 35px !important;
    }
    .navbar-toggler-icon{
        color: var(--white-color);
    }
    
    /* top top-wrapper */
    .top-wrapper{
        text-align: center;
    }
    .top-wrapper .right-wrapper img{
        width: 15rem !important;
    }
    h1{
        font-size: 2.8rem !important;
    }

    /* about section */
    .about .about-img::before{
        height: 30.5rem;
    }

     /* blog section */

}

@media (max-width:767px){
    /* custom css */
    .mab-pb-0{
        padding-bottom: 0px !important;
    }
    .mab-pb-0{
        padding-top: 0px !important;
    }
    .navbar-collapse{
        text-align: center;
    }
    .navigation-wrap .nav-item{
        padding-top: 1.25rem !important;
    }
    .navigation-wrap .nav-link{
        font-size: 1rem !important;
        font-weight: 700 !important;
        justify-content: center;
    }
    .navigation-wrap .navbar-toggler{
        margin-right: 0px !important;
        padding: 0 !important;
    }
    .navigation-wrap .navbar-brand img{
        max-width: 75%;
    }
    .navigation-wrap{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.7rem;
        -webkit-transition: all .15s ease-in-out 0s !important;
        transition: all .15s ease-in-out 0s !important;
    }
    /* top top-wrapper */
    .top-wrapper .right-wrapper{
        text-align: center !important;
    }
    .top-wrapper .right-wrapper img{
        width: 50% !important;
        margin: auto !important;
    }
    /* btn design */
    .main-btn,
    .btn-2{
        min-width: 11.25rem !important;
        padding: 0.725rem 2rem !important;
        font-size: 0.85rem !important;
        margin-left: 0!important;
        margin-top: 2rem !important;
        text-align: center !important;
        align-items: center !important;
    }
    /* top banner */
    .top-wrapper .left-wrapper{
        padding-top: 6.25rem !important;
        text-align: center !important;
    }
    h1{
        font-size: 2.5rem !important;
    }
    h2{
        font-size: 2rem !important;
    }
    /* about section */
    .about .about-img{
        padding-left: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .about .about-img::before{
        height: 15.5rem !important;
    }

   
    
}