@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0 !important;
}
a, a:hover{
    text-decoration: none;
}
ul,ol{
    margin: 0;
    padding: 0;
}
/*============ variable define============== */
:root{
    --primary-color:#96b1a8;
    --third-color:#21333e;
    --four-color:#b7b4ad;
    --five-color:#93cfbf;
    --six-color:#eeebe4;
    --gray-color:#e2e2e2;
    --white-color:#eee;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--secondary-font);
    font-size: 100%;
    font-weight: 400;
    overflow-x: hidden;
}
/* ===================custom css design ========================== */
h1{
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color: var(--six-color);
    text-transform: capitalize;
}
h1 span{
    color: var(--five-color);
}
h2{
    font-weight: 900;
    padding: 1rem 0;
    font-size: 3rem;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--third-color);
}
h4{
    font-weight: 800;
    padding: 1rem 0;
    font-size: 1.3rem;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--third-color);
}
h5{
    color: var(--six-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
p{
    font-size: 1rem;
    color: var(--gray-color);
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 1.6;
    margin-top: 1rem;
}
.main-btn{
    position: relative;
    z-index: 2;
    padding: 0.625rem 1.563rem;
    background-color: var(--six-color);
    border-radius: 0.25rem;
    border: 0.063rem solid;
    border-color: var(--six-color);
    color: var(--third-color);
    font-weight: 500;
    -webkit-transition:all .4s ease-out 0s;
    -o-transition:all .4s ease-out 0s;
    -ms-transition:all .4s ease-out 0s;
    transition:all .4s ease-out 0s;
    -moz-transition:all .4s ease-out 0s;
}
.main-btn:hover{
    background-color: var(--five-color);
    color: var(--white-color);
    border-color: var(--five-color);
}
.heading h5{
    color: var(--five-color);
}

/* ================ header design ===================== */
/* ==== top header ========== */
.navbar.top{
    position: relative;
    z-index: 5;
    height: 3.125rem;
    padding: 0rem;
    background: var(--third-color);
}
.navbar.top ul li a{
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--six-color);
    font-family: var(--primary-font);
}
.navbar.top ul li a:hover{
    color: var(--four-color);
}

/* ===========main navigation============ */
.navigation-wrap{
    position: fixed;
    padding: 1rem 0;
    width: 100%;
    top: 3.125rem;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navigation-wrap .nav-item{
    transition: all 200ms linear;
    padding: 0 0.4375rem;
}
.navigation-wrap .nav-link{
    font-size: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    font-family: var(--primary-font);
    text-transform: capitalize;
    color: var(--white-color);
}
.navigation-wrap .nav-link.active,
.navigation-wrap .nav-link:hover{
    color:var(--five-color)
}
/* change navbar styling on scroll */
.navigation-wrap.scroll-on{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--third-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgba(0,0,0,0.09);
    transition: all 0.3s ease-in-out 0s;
}

/* ===========top section design=============== */
.top-wrapper{
    background-image: url('../images/bg-img/bg-1.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 1;
}
.top-wrapper .left-wrapper{
    padding-top: 7.25rem;
}
.top-wrapper .left-wrapper h1{
    width: 79%;
}
.top-wrapper .right-wrapper{
    padding-top: 5rem;
}
.navbar-toggler{
    color: var(--white-color);
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
/* ===========about section design=============== */
.wrapper{
    padding: 5rem 0;
}
.about .about-img::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 27.5rem;
    background: var(--five-color);
}
.about .about-img{
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 4rem;
}
.about .right-wrapper{
    padding-left: 4rem;
}
.about .right-wrapper h5{
    color: var(--primary-color);
}
.about .right-wrapper p{
    color: var(--third-color);
}
.about .right-wrapper .main-btn{
    color: var(--white-color);
    background: var(--five-color);
    border-color: var(--five-color);
}
.about .right-wrapper .main-btn:hover{
    color: var(--white-color);
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* ===========our approach section design=============== */
.approach{
    background-color: var(--six-color);
}
.approach .approach-cards{
    padding-top: 3.125rem;
}
.approach-cards .card{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 1.875rem 0;
    border-radius: 0.375rem;
    background: var(--white-color);
    border: none;
    box-shadow: -0.2349rem 1.6711rem 2.6875rem 0 rgb(42 57 63 / 15%);
    transition: all .3s ease;
}
.approach-cards .card:hover{
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
    -ms-box-shadow: 0rem 0rem 2.4375rem 0.125 rgba(236, 236, 236, 1);
    -o-box-shadow: 0rem 0rem 2.4375rem 0.125 rgba(236, 236, 236, 1);
    box-shadow: 0rem 0rem 2.4375rem 0.125 rgba(236, 236, 236, 1);
}
.approach-cards .card .card-image{
    height: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: -1.875rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.5625rem 1.875rem -0.625rem rgba(221, 218, 218, 0.5);
}
.approach-cards .card .content{
    padding: 0.9375rem 1rem;
    text-align: center;
}
.approach-cards .card-description{
    color: var(--third-color);
    text-align: center;
}

/* =========== contact section design=============== */
.contact{
    background: var(--six-color);
}
.contact .our-con-info li i{
    color: var(--third-color);
    font-size: 2rem;
}
.contact .our-con-info li p a{
    color: var(--third-color);
    font-size: 1rem;
}
.contact .form-control{
    height: 3.75rem;
    padding: 0.375rem 1.1875rem;
    border: none;
    font-size: 1.1875rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}
.contact .textarea{
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 1.1875rem;
    border: none;
    font-size: 1.1875rem;
    margin-top: 0.3125rem;
    box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}
.contact .main-btn{
   color: var(--white-color);
    padding: 1rem;
    /* display: none; */
}
.contact form:hover .main-btn{
    display: block;
    background: var(--five-color);
}